<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>

    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6" *ngFor="let character of characters">
        <ion-card [routerLink] ="['/characters', character.id]">
          <ion-card-header>
            <img [src]="character.image"/>
            <ion-card-subtitle> {{  character.species }}</ion-card-subtitle>
            <ion-card-title>{{ character.name}}</ion-card-title>
         
          </ion-card-header>
          <ion-card-content>
            <p> status: {{ character.status}}</p>
            <p> gender: {{ character.gender }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loading">
    
      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header>
           <ion-thumbnail>
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
           <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
         
          </ion-card-header>
          <ion-card-content>
           <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
       
       <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header>
           <ion-thumbnail>
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
           <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
         
          </ion-card-header>
          <ion-card-content>
           <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header>
           <ion-thumbnail>
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
           <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
         
          </ion-card-header>
          <ion-card-content>
           <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header>
           <ion-thumbnail>
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
           <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
         
          </ion-card-header>
          <ion-card-content>
           <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>