<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Loactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
   
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6" *ngFor="let location of locations">
        <ion-card [routerLink] ="['/locations', location.id]">
          <ion-card-header>
            <ion-card-subtitle>{{ location.type }}</ion-card-subtitle>
            <ion-card-title>{{ location.name}}</ion-card-title>
         
          </ion-card-header>
          <ion-card-content>
            <p> Dimension: {{ location.dimension }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
